#Pycharm
.idea
error.log
tests/error.log
error.log/*

#Vagrant
.vagrant

#Database
*.sqlite
mysql_convert.sh
install/mysql_convert.sh

#Configuration
*.json
server/config.php
config.php

#ssl
*.pem

#Debug logs
*.log

#T-virus synthesis
compound_48/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

#Silly
competency_test.*
think_of
